.avatarSelect {
  width: 100%;
}

.menuDiv {
  background-color: transparent;
}

.settingButton {
  background-color: transparent;
  border: 0px;
  color: white;
  font-size: x-large;
  margin-right: 20px;
}
